*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.main-container{
  position: absolute;
  left: 40%;
  top: 40%;
  text-align: center;
}

h1{
  color: #ff0000;
  padding-bottom: 10px;
  position: fixed;
  top: 265px;
  left: 586px;
}

input{
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #080000;
  padding: 2px;
}

.table{
  margin-left: 23px;
}

.save{
  background-color: skyblue;
  position: absolute;
  top: 130px;
  left: 25px;
  padding: 3px;
  padding-left: 106px;
  padding-right: 100px;
  border: none;
  margin-right: 3px;
  border-radius: 5px;
}

.save:hover{
  background-color: #00bfff;
  cursor: pointer;
}

.todo-table{
  margin-top: 30px;
}

.delete-btn{
  background-color: black;
  color: white;
  border: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}